@model Market_Store.Models.Homepage

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}

<div class="container">
    <h1>Edit</h1>

    <h4>Homepage</h4>
    <hr />

    <form class="was-validated" enctype="multipart/form-data" asp-action="Edit" asp-controller="Homepages">

           <input type="hidden" asp-for="HomeId" />
        <div>
            <label for="validationCustom03">Enter a large title for the scroll bars</label>
            <input asp-for="TILTE_BIG" type="text" class="form-control" id="validationCustom03" required>
            <div class="invalid-feedback">
                the Field is Required
                </div>

        </div>

        <div>
            <label for="validationCustom03">Enter a small title for the scroll bars</label>
            <input  asp-for="TILTE_SMALL" type="text" class="form-control" id="validationCustom03" required>
            <div class="invalid-feedback">
                the Field is Required

            </div>

        </div>

        <div class="custom-file">
            <input asp-for="ImageFile"  type="file" class="custom-file-input" id="validatedCustomFile" required accept="/Image/*">
            <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
            <div class="invalid-feedback">Example invalid custom file feedback</div>
        </div>

        <div class="form-group">
         <input type="submit" value="Save" class="btn btn-primary" />
         </div>

    </form>

    
    <div>
        <a class="btn btn-primary" asp-action="Index">Back to List</a>
    </div>

</div>